.intro{
    
    font-size: 1.75rem;
    font-weight: 200;
    padding-left: 50px;
}
.content-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 2/3 and 1/3 columns */
    gap: 20px; /* Add some spacing between columns */
    width: 100%;
}

.first {
    border-top: 2px solid rgb(234, 254, 254,0.2); /* Adjust the color and size as needed */
  margin-top: 20px;
    margin: 1rem;
    margin-left: 100px;
}

.second {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    
}
.cutout-container{
    padding-left: 30px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    border-radius: 20px; /* Adjust the radius for rounded corners */
    overflow: hidden;
    position: relative;
    border: 2px solid aqua; 
    z-index: 2;}

.profile {
    max-width: 200%;
    max-height: 100%;
    padding-left: 0px;
    position: relative;
    z-index: 1;
}



